<footer class="footer">
  <div class="container">
    <div class="footer-Newsletter">
      <a class="footer-logo" href="./index.html">
        <svg class="footer-logo-icon" width="84" height="36">
          <use
            href="/src/footer-images/footer-icon.svg#icon-Company-Logo"
          ></use>
        </svg>
      </a>
      <p class="footer-Newsletter-text">
        Subscribe to our newsletter for the latest updates on our yoga courses
        and events.
      </p>
      <form class="footer-form">
        <input
          class="footer-form-input"
          type="email"
          id="subscribe-email"
          name="subscribe-email"
          placeholder="E-mail"
        />
        <button class="footer-form-button" type="submit">Join</button>
        <label class="footer-form-label" for="subscribe-email">
          By subscribing, you consent to our Privacy Policy and agree to receive
          updates.</label
        >
      </form>
    </div>
    <div class="footer-links">
      <nav class="footer-nav">
        <h3 class="footer-nav-text">Quick Links</h3>
        <ul class="footer-nav-list">
          <li class="footer-nav-list-items">
            <a class="footer-nav-link" href="./yoga-classes.html"
              >Yoga Classes</a
            >
          </li>
          <li class="footer-nav-list-items">
            <a class="footer-nav-link" href="./team.html">Team</a>
          </li>
          <li class="footer-nav-list-items">
            <a class="footer-nav-link" href="./pricing.html">Pricing</a>
          </li>
          <li class="footer-nav-list-items">
            <a class="footer-nav-link" href="./footer.html ">Contacts</a>
          </li>
        </ul>
      </nav>
      <div class="footer-social">
        <h3 class="footer-social-text">Connect With Us</h3>
        <ul class="footer-social-links">
          <li class="footer-social-links-items">
            <a href="https://www.facebook.com/" target="_blank">
              <svg class="footer-social-links-icon" width="24" height="24">
                <use
                  href="/src/footer-images/footer-icon.svg#icon-Facebook"
                ></use>
              </svg>
              Facebook
            </a>
          </li>
          <li class="footer-social-links-items">
            <a href="https://www.facebook.com/" target="_blank">
              <svg class="footer-social-links-icon" width="24" height="24">
                <use
                  href="/src/footer-images/footer-icon.svg#icon-Instagram"
                ></use>
              </svg>
              Instagram
            </a>
          </li>
          <li class="footer-social-links-items">
            <a href="https://www.facebook.com/" target="_blank">
              <svg class="footer-social-links-icon" width="24" height="24">
                <use
                  href="/src/footer-images/footer-icon.svg#icon-LinkedIn"
                ></use>
              </svg>
              LinkedIn
            </a>
          </li>
          <li class="footer-social-links-items">
            <a href="https://www.facebook.com/" target="_blank">
              <svg class="footer-social-links-icon" width="24" height="24">
                <use
                  href="/src/footer-images/footer-icon.svg#icon-Youtube"
                ></use>
              </svg>
              YouTube
            </a>
          </li>
        </ul>
      </div>
    </div>
    <p class="footer-last-text">© 2025 Yoga Studio. All rights reserved.</p>
  </div>
</footer>
