<section class="section-hero"></section>
<div class="container hero-container">
  <h1 class="hero-title">Transform Your Life with Our Yoga Clases</h1>
  <div class="hero-text-button">
    <p class="hero-text">
      Discover the harmony of mind and body through our expertly designed yoga
      programs. Join a community dedicated to wellness and personal growth.
    </p>
    <div class="hero-button">
      <button class="hero-button-first" type="button">Join Now</button>
      <button class="hero-button-second" type="button">Learn More</button>
    </div>
  </div>
</div>
