<section class="testimonials">
  <div class="container">
    <div class="testimonials-title-container">
      <h2 class="testimonials-title">Testimonials</h2>
      <p class="testimonials-title-text">What our happy clients say</p>
    </div>
    <ul class="testimonials-list">
      <li class="testimonials-item">
        <p class="testimonials-text">
          YogaBloom is a true sanctuary for the mind and body. The classes are
          thoughtfully guided, the atmosphere is calming, and every session
          leaves me feeling more centered, flexible, and recharged. Highly
          recommended for anyone seeking balance and inner peace.
        </p>
        <img 
        class="testimonials-foto"
        src="../img/testimonials/Donna-Norman.jpg" 
        alt="" 
        />
        <div class="testimonials-name-container">
          <h5 class="testimonials-name">Donna Norman</h5>
          <p class="testimonials-profession">Yoga Enthusiast</p>
        </div>
      </li>
      <li class="testimonials-item">
        <p class="testimonials-text">
          I’ve tried many yoga studios, but YogaBloom stands out with its
          welcoming energy and inspiring instructors. Every class feels like a
          journey inward. It’s now my favorite part of the week.
        </p>
        <img class="testimonials-foto" 
        src="../img/testimonials/Sophie-Delgado.jpg" 
        alt="" 
        />
        <div class="testimonials-name-container">
          <h5 class="testimonials-name">Sophie Delgado</h5>
          <p class="testimonials-profession">Marketing Specialist</p>
        </div>
      </li>
      <li class="testimonials-item">
        <p class="testimonials-text">
          YogaBloom helped me reconnect with myself. The sessions are
          well-paced, the space is beautiful, and the community is truly
          supportive. A perfect place to grow both physically and mentally.
        </p>
        <img 
        class="testimonials-foto" 
        src="../img/testimonials/Rachel-Kimura.jpg" 
        alt="" 
        />
        <div class="testimonials-name-container">
          <h5 class="testimonials-name">Rachel Kimura</h5>
          <p class="testimonials-profession">Freelance Illustrator</p>
        </div>
      </li>
      <li class="testimonials-item">
        <p class="testimonials-text">
          Whether you're new to yoga or a long-time practitioner, YogaBloom
          offers something special. The mindful approach and soothing guidance
          make each class a peaceful escape from daily stress.
        </p>
        <img 
        class="testimonials-foto" 
        src="../img/testimonials/Emma-L.Hart.jpg" 
        alt="" 
        />
        <div class="testimonials-name-container">
          <h5 class="testimonials-name">Emma L. Hart</h5>
          <p class="testimonials-profession">
            University Student & Part-time Barista
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
