<section class="container yoga-classes-section">
  <div class="section-head">
    <p class="section-direction-title">Explore</p>
    <h1 class="section-basic-title mobile desctop">
      Discover Our Most Popular Yoga Programs
    </h1>
    <h1 class="section-basic-title tablet">
      Transform Your Life with Our Yoga Clases
    </h1>
    <p class="section-paragraph">
      Join our community and elevate your practice with our expertly designed
      yoga programs. Each course is tailored to meet various skill levels and
      personal goals.
    </p>
  </div>
  <ul class="cards-container">
    <li class="card">
      <picture>
        <source
          srcset="
            /img/yoga-classes/beginnerYogaDESK@1x.jpg 1x,
            /img/yoga-classes/beginnerYogaDESK@2x.jpg 2x
          "
          media="(min-width: 1336px)"
        />
        <source
          srcset="
            /img/yoga-classes/beginnerYogaTABLET@1x.jpg 1x,
            /img/yoga-classes/beginnerYogaTABLET@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <img
          class="card-image"
          srcset="
            /img/yoga-classes/beginnerYogaMOBILE@1x.jpg 1x,
            /img/yoga-classes/beginnerYogaMOBILE@2x.jpg 2x
          "
          src="/img/yoga-classes/beginnerYogaMOBILE@1x.jpg"
          alt="Beginner Yoga"
        />
      </picture>
      <h2 class="card-title mobile">
        Beginner Yoga: Foundations for New Practitioners
      </h2>
      <h2 class="card-title tablet desctop">Beginner Yoga: Foundations</h2>
      <p class="card-paragraph">
        Learn the basics of yoga in a supportive environment.
      </p>
    </li>
    <li class="card">
      <picture>
        <source
          srcset="
            /img/yoga-classes/vinyasaFlowDESK@1x.jpg 1x,
            /img/yoga-classes/vinyasaFlowDESK@2x.jpg 2x
          "
          media="(min-width: 1336px)"
        />
        <source
          srcset="
            /img/yoga-classes/vinyasaFlowTABLET@1x.jpg 1x,
            /img/yoga-classes/vinyasaFlowTABLET@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <img
          class="card-image"
          srcset="
            /img/yoga-classes/vinyasaFlowMOBILE@1x.jpg 1x,
            /img/yoga-classes/vinyasaFlowMOBILE@2x.jpg 2x
          "
          src="/img/yoga-classes/vinyasaFlowMOBILE@1x.jpg"
          alt="Vinyasa Flow"
        />
      </picture>
      <h2 class="card-title">Vinyasa Flow: Energize Your Body and Mind</h2>
      <p class="card-paragraph">
        Experience a dynamic sequence that connects breath and movement.
      </p>
    </li>
    <li class="card broad-card">
      <picture>
        <source
          srcset="
            /img/yoga-classes/restorativeYogaDESK@1x.jpg 1x,
            /img/yoga-classes/restorativeYogaDESK@2x.jpg 2x
          "
          media="(min-width: 1336px)"
        />
        <source
          srcset="
            /img/yoga-classes/restorativeYogaTABLET@1x.jpg 1x,
            /img/yoga-classes/restorativeYogaTABLET@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <img
          class="card-image broad-image"
          srcset="
            /img/yoga-classes/restorativeYogaMOBILE@1x.jpg 1x,
            /img/yoga-classes/restorativeYogaMOBILE@2x.jpg 2x
          "
          src="/img/yoga-classes/restorativeYogaMOBILE@1x.jpg"
          alt=""
        />
      </picture>
      <h2 class="card-title">Restorative Yoga: Deep Relaxation and Healing</h2>
      <p class="card-paragraph">
        Unwind and rejuvenate with gentle poses and mindfulness.
      </p>
    </li>
  </ul>
  <!-- додати id="pricing" до секції  pricing -->
  <div class="link-container">
    <a class="join-link mobile" href="#pricing">Join</a>
    <a class="join-link tablet desctop" href="#pricing">Join now</a>
  </div>
</section>
