.container {
  max-width: 343px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1336px) {
  .container {
    max-width: 1336px;
    padding: 0 64px;
  }
}

.section-hero {
  background-image: url(../img/hero/hero-banner-mobile@1x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2e2f42;
  width: 375px;
  height: 301px;
  margin: 0 auto 48px auto;
}

@media (min-resolution: 192dpi) {
  .section-hero {
    background-image: url(../img/hero/hero-banner-mobile@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .section-hero {
    background-image: url(../img/hero/hero-banner-tablet@1x.jpg);
    width: 768px;
    height: 359px;
    margin-bottom: 24px;
  }

  @media (min-resolution: 192dpi) {
    .section-hero {
      background-image: url(../img/hero/hero-banner-tablet@2x.jpg);
    }
  }
}

@media only screen and (min-width: 1336px) {
  .section-hero {
    background-image: url(../img/hero/hero-banner-desktop@1x.jpg);
    width: 1440px;
    height: 684px;
    margin-bottom: 80px;
  }

  @media (min-resolution: 192dpi) {
    .section-hero {
      background-image: url(../img/hero/hero-banner-desktop@2x.jpg);
    }
  }
}
.hero-title {
  font-weight: 400;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #0d0b0a;
  margin-bottom: 20px;
}

.hero-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #0d0b0a;
  margin-bottom: 24px;
}

.hero-button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #0d0b0a;
  margin-bottom: 48px;
}
.hero-button-first {
  border: 1px solid #c2d9fc;
  border-radius: 100px;
  width: 329px;
  height: 46px;
  background: #c2d9fc;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button-second {
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 100px;
  width: 329px;
  height: 46px;
  background: rgba(13, 11, 10, 0.05);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button-first:hover,
.hero-button-first:focus {
  color: #0d0b0a;
  background-color: #c2d9fc;
  opacity: 0.5;
}
.hero-button-second:hover,
.hero-button-second:focus {
  color: #0d0b0a;
  background-color: rgba(13, 11, 10, 0.05);
  opacity: 0.5;
}

@media only screen and (min-width: 768px) {
  .hero-title {
    max-width: 425px;
    margin-bottom: 16px;
  }
  .hero-text {
    font-size: 18px;
    margin-bottom: 32px;
  }
  .hero-button {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
  }
  .hero-button-first,
  .hero-button-second {
    width: 144px;
  }
}

@media only screen and (min-width: 1336px) {
  .hero-title {
    font-size: 72px;
    max-width: 644px;
    margin-bottom: 80px;
  }
  .hero-text {
    margin: 0;
  }
  .hero-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 24px;
  }
  .hero-text-button {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
  }
  .hero-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-button-first {
    width: 113px;
  }
  .hero-button-second {
    width: 128px;
  }
}
