.testimonials{
    background-color: #f2fafa;
}


.testimonials-title-container{
    padding: 64px 16px 0 16px;
}

.testimonials-title{
    font-weight: 400;
font-size: 52px;
line-height: 1.2;
letter-spacing: 0.01em;
text-align: center;
color: #0d0b0a;
}
.testimonials-title-text{
font-weight: 400;
font-size: 18px;
line-height: 1.6;
text-align: center;
color: #0d0b0a;

padding-top: 20px;
}

.testimonials-list{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.testimonials-item{
    border-radius: 24px;
padding: 12px;
min-width: 300px;

background-color: #dfebeb;
}

.testimonials-text{
    font-weight: 400;
font-size: 22px;
line-height: 1.6;
text-align: center;
color: #0d0b0a;
}

.testimonials-foto{
    display: block;
    margin: 0 auto;
    margin-top: 32px ;
    border-radius: 100%;

    max-width: 100%;
}

.testimonials-name-container{
    margin-top: 16px;
}


.testimonials-name{
    font-weight: 700;
font-size: 18px;
line-height: 1.6;
text-align: center;
color: #0d0b0a;
}

.testimonials-profession{
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
color: #0d0b0a;
}

